@model ParkingControl.Domain.DTOs.VeiculoDTO

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Registrar</h5>
        </div>
        <div>
            <span>
                @if (Model != null && !string.IsNullOrEmpty(Model.Mensagem))
                {
                    <div class="@Model.ClasseTipoAlerta" role="alert">
                        <p>@Model.Mensagem</p>
                    </div>
                }
            </span>
        </div>
        <form asp-action="Create" novalidate>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input asp-for="placa" type="text" class="form-control" id="floatingInput" placeholder="Placa" required>
                    <label for="floatingInput">Placa</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="dataHoraEntrada" class="form-control" id="floatingInput" placeholder="Data e hora entrada" required>
                    <label for="floatingInput">Data e hora entrada</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success" type="submit">Salvar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>
