@model ParkingControl.Domain.DTOs.TarifaDTO

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Registrar</h5>
        </div>
        <form asp-action="Create" novalidate>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input asp-for="dataInicioVigencia" type="text" class="form-control" id="floatingInput" placeholder="01/01/2000" required>
                    <label for="floatingInput">Placa</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="dataFimVigencia" class="form-control" id="floatingInput" placeholder="01/01/2000" required>
                    <label for="floatingInput">Data e hora entrada</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="preco" class="form-control" id="floatingInput" placeholder="R$ 0,00" required>
                    <label for="floatingInput">Preço</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success" type="submit">Salvar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>
